table {
    border-collapse: collapse;
    border: 1px solid rgb(90, 27, 236);
    background-color: darksalmon;
  }
  th, td {
    border: 1px solid rgb(228, 102, 18);
    padding: 8px;
  }
  div {
      margin-bottom: 20px;
      background-color: aquamarine;
  }
  body{
      font-family:'Times New Roman', Times, serif ;

  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    color: rgb(247, 179, 34);
    background-color: aqua;
  }
  .container div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: pink;
  }

  .container div input{
    height: 25px;
    width: 180px;
    background-color: rgb(57, 237, 250);
    border-color: rgb(238, 141, 14);
  }

  .container  button{
    height: 25px;
    width: 180px;
    background-color: lightpink;
  }
  h1{
    background-color: aqua;
    color: violet;
    }